img {
  display: block;
}

* {
  /* box-sizing: border-box; */
}

.container {
  width: 1024px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.swiper {
  display: flex;
  width: 1024px;
  height: 800px;
  margin: 0 auto;
  transition: transform 0.5s ease;
}

.swiper-button-div {
  position: absolute;
  bottom: 0;
  right: 0;
}

h1,
h2 {
  text-align: center;
}

.titleImg {
  margin: 0 auto;
}

.titleText {
  text-align: center;
  font-size: large;
}

.slide {
  width: 100%;
  max-width: 1024px;
  height: 800px;
  flex-shrink: 0;
  background-color: rgb(192, 25, 192);
}
.slide2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tankImg {
  width: 100%;
}
